body {
    margin: 0;
    border: dashed 1px red;
    width: 100%;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 80%;
    background: #FFFFFF;
    padding: 40px 0 0 0;
    border: dashed 1px red;
}

.header {
    display: flex;
    border: dashed 1px red;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
    height: 35px;
    padding: 0;
    margin: 0 auto 170px auto;
}

.logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 190px;
    height: 35px;
    padding: 0;
    margin-right: 63%;
    border: dashed 1px red;
}

/*header-logo__ellipse {
    display: flex;
    width: 40px;
    height: 35px;
}*/

.logo__ellipse_darkblue {
    position: absolute;
    background: #0056EC;
    background-size: 28px;
    width: 30px;
    height: 30px;
    border-radius: 50% 50%;
    background-position: bottom 7px right 8px;
    border-color: transparent;
    margin: 0 7px 0 0;
}
  
.logo__ellipse_blue {
    position: relative;
    height: 30px;
    background: #C8DBFB;
    width: 30px;
    border-radius: 50% 50%;
    border-color: transparent;
    margin: 7px 0 0 10px;
    opacity: 0.7;
}

.logo__text {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 32px;
    font: bold 24px/31px PT_Serif;
    margin: 2px 0 0 8px;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    width: 377px;
    height: 35px;
    justify-content: flex-start;
    align-items: center;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: auto;
}

.menu__link {
    display: flex;
    align-items: center;
    height: 28px;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    border: dashed 1px red;
    margin: 0 13px;
}

.menu__link_active {
    display: flex;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #0056EC;
    padding-bottom: 5px;  
}


.menu__link:hover {
    border-bottom: 3px solid #0056EC;
    color: #000000;
}

.menu__link:first-child {
     margin-left: 0;
}

.menu__link:last-child {
      margin-right: 0;
}


.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    border: dashed 1px red; 
}


.main {
    display: block;
    flex-flow: row wrap;
    width: 758px;
    height: 445px;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    border: dashed 1px red;
}

/*.maintext {
    display: flex;
    flex-flow: row wrap;
    max-width: 567px;
    max-height: 445px;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    padding-left: 20px ;
    border: 1px solid black;
}*/



.main__title {
    display: flex;
    flex-flow: row wrap;
    width: 567px;
    height: 255px;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 66px;
    line-height: 87px;
    color: #000000;
    margin: 76px 0 40px 0;
    border: dashed 1px red;
}

.main__subtitle {
    display: flex;
    flex-flow: row wrap;
    width: 425px;
    height: 52px;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Roboto', serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin: 0 303px 41px 0;
}

.main__btn {
    display: flex;
    flex-flow: row wrap;
    width: 271px;
    height: 57px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    background: #0056EC;
    color: #ffffff;
    border-radius: 4px;
    margin: 0;
}

.main__btn:hover {
    cursor: pointer;
    padding: 0;
}

.main__btn:active {
    box-shadow: 0 0 0 3px grey;
}

.main__background {
    display: block;
    flex-flow: row wrap;
    width: 770px;
    height: 657px;
    justify-content: center;
    align-items: center;
    background: url('../images/Frame.png');
    background-size: 100% 100%;
    color: #ffffff;
    margin: auto;
    padding: 0;
    border: dashed 1px red;
}

/*@media screen and (max-width: 1920px) { 
    .container {
        min-width: 1367px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1366px) { 
    .container {
        min-width: 1025px;
        margin: 0 auto;
    }
    
    .container__main {
    display: flex;
    flex-flow: row nowrap;
    width: 930px;
    }

    .container__maintext {
        display: flex;
        flex-flow: row wrap;
        width: 416px;
        max-height: 363px;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 10vw;
        padding-left: 20px ;
    }

    .maintext__bigtext {
        display: flex;
        flex-flow: row wrap;
        width: 434px;
        height: 195px;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: 'PT Serif', serif;
        font-weight: bold;
        font-size: 50px;
        line-height: 66px;
        color: #000000;
        margin: 0 0 40px 0;
    }
    .maintext__midletext {
        display: flex;
        flex-flow: row wrap;
        width: 367px;
        height: 43px;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: 'Roboto', serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin: 0 0 41px 0;
    }
    .container__fon {
        display: flex;
        flex-flow: row wrap;
        width: 770px;
        height: 657px;
        justify-content: center;
        align-items: center;
        background: url('https://i.ibb.co/g7dnnrQ/Frame.png');
        background-size: 100% 100%;
        color: #ffffff;
        margin: 0 0 0 0;
        border: 1px solid black;
    
    }



}








/* 
20em (320px), 
40em (640px), 
60em (960px), 
64em (1024px), 
80em (1280px), 
120em (1920px)

@media print, screen and (min-width: 40em) {}
@media print, screen and (min-width: 64em) {}


@media screen and (max-width: 1366px) { 
    .container {
        width: 1025px;
    }
    .menu__nav {
        display: flex;
        flex-flow: row nowrap;
        width: fit-content;
        height: 28px;
        justify-content: flex-start;
        align-items: center;
        font-family: Roboto;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin-right: 10%;
    }

    .container__maintext {
        display: flex;
        flex-flow: row wrap;
        max-width: 434px;
        max-height: 363px;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 10vw;
        padding-left: 20px ;
        border: 1px solid black;
    }

    .maintext__bigtext {
        display: flex;
        flex-flow: row wrap;
        width: 434px;
        height: 195px;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: 'PT Serif', serif;
        font-weight: bold;
        font-size: 50px;
        line-height: 66px;
        color: #000000;
        margin: 0 0 40px 0;
    }
    .maintext__midletext {
        display: flex;
        flex-flow: row wrap;
        width: 367px;
        height: 43px;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: 'Roboto', serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
        margin: 0 0 41px 0;
    }

    .maintext__btn {
        display: flex;
        flex-flow: row wrap;
        width: 209px;
        height: 44px;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        background: #0056EC;
        color: #ffffff;
        border-radius: 4px;
        margin: 0;
    }

    .maintext__btn:hover {
        cursor: pointer;
        padding: 0;
    }

    .maintext__btn:active {
        box-shadow: 0 0 0 3px grey
    }

    .container__fon {
        display: flex;
        flex-flow: row wrap;
        width: 770px;
        height: 657px;
        justify-content: center;
        align-items: center;
        background: url('https://i.ibb.co/g7dnnrQ/Frame.png');
        background-size: 100% 100%;
        color: #ffffff;
        margin: 0 0 0 0;
        border: 1px solid black;

    }




}*/

/*

@media screen and (max-width: 1575px) { 
    .container {
        width: 1024px;
    }
}

@media screen and (max-width: 1200px) { 
    .container {
        width: 1140px;
    }
}

@media screen and (max-width: 1199px) { 
    .container {
        width: 960px;
    }
}

@media screen and (max-width: 991px) { 
    .container {
        width: 720px;
    }
}

@media screen and (max-width: 990px) { 
    .container {
        width: 540px;
    }
}

@media screen and (max-width: 767px) { 
    .container {
        width: 540px;
    }
}

@media screen and (max-width: 575px) { 
    .container {
        width: 100%;
        padding: 15px;
    }
}*/